<?xml version="1.0"?>

<model>
  <name>Small Appartment</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: Lucas Soubeyrand</name>
    <email>Optional: lucas.soubeyrand@gmail.com</email>
  </author>

  <description>
    A model of a typical a small appartment (based on mine :P).
  </description>

</model>
